# Virtual environment
venv/

# Python bytecode cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Compiled extensions
*.pyd
*.so
